{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password</label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="old_password" name="old_password" type="password" required>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="new_password" name="new_password" type="text" required>
        </div>
        <div class="mb-3">
            <label for="confirmation" class="form-label">Confirm New Password</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="confirmation" name="confirmation" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
